<md-card fx-layout="row" fx-layout-align="center center">
<h1>
  {{title}}
</h1>

<md-input-container>
  <input md-input placeholder="Github username" [(ngModel)] = githubUser.userName (keyup)="searchUser()">
</md-input-container>

<md-card  fx-layout-Align="center center">
  <md-card-header>
    <md-card-title>User Profile</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="">
  <md-card-content>
    <p>
    </p>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
</md-card>


</md-card>
